<!DOCTYPE html>
{{- $defaultColor := .Site.Params.defaultColor | default "auto" -}}
{{- if eq $defaultColor "dark" -}}
<html lang="{{ .Site.LanguageCode | default .Site.Language.Lang }}" class="dark">
{{- else if eq $defaultColor "light" -}}
<html lang="{{ .Site.LanguageCode | default .Site.Language.Lang }}" class="light">
{{- else -}}
<html lang="{{ .Site.LanguageCode | default .Site.Language.Lang }}">
{{- end -}}
{{- partial "head.html" . -}}
<body data-theme="{{ $defaultColor }}" class="notransition">
    {{- partial "scriptsBodyStart.html" . -}}
    {{- partial "header.html" . -}}
    <div class="wrapper">
        <div class="timeline-page">

            {{ .Content }}

        </div>
    </div>
    {{- partial "footer.html" . -}}
    {{- partial "scriptsBodyEnd.html" . -}}
</body>
</html>
